[Service]
Restart=always
Environment=PATH=/home/myuser/.pnpm/nodejs/20.10.0/bin:/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Unit]
Description=metamanager
After=network.target

[Service]
Type=simple
User=metamanager
Group=metamanager
WorkingDirectory=/home/metamanager/metamanager
ExecStart=/home/metamanager/.local/share/pnpm/node /home/metamanager/metamanager/dist/index.js
Restart=always
RuntimeMaxSec=3600
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metamanager

[Install]
WantedBy=multi-user.target
